.slider .slides .caption.zero {
    width: 60%;
    left: 50%;
    margin-top: 5%;
}

.slider .slides .caption.one {
    width: 40%;
    left: 2%;
}

.slider .slides .caption.two {
    width: 40%;
    left: 55%;
}

.right-quote {
    border-left: none;
    border-right: 5px solid;
    padding-right: 1.5rem;
}



.slider .slides li {
    height: 120%;

}

div.slider {
    height: 100%;
}


.image-logo {
    width: 20%;
    margin-left: 40%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.title.image-title {
    padding-top: 0;
    margin-top: 0;
    font-size: 120%;
    color: #E6E56A;
}


/* Testimonial Carousel */

.carousel {
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    height: 500px;

}

.carousel .carousel-item {
    height: 75%;
    width: 40%;

}

.carousel-fixed-item.center.one {
    color: red;
    margin-bottom: 30%;
}

.home_testimonials {
    margin-top: 5%;
    padding-top: 5%;
}

.home-testimonials,
.home-testimonials2 {
    padding: 10%;

}

.home-testimonials2 {
    margin-top: 0;
    padding-top: 0;

}

.ht1 {
    margin-top: 15%;
}

.htb {
    font-size: 120%;
}

/*Learning solutions*/
.pageRedirect {
    background-color: #EFF0FD;
    padding: 15%;
    border-radius: 1rem;
}

.pageRedirect:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.pageRedirect:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, .2);
}

.redirect-link,
.redirect-link:hover,
.redirect-link:visited {
    color: black;
}

.learning-solutions {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}


@media only screen and (max-width: 1024px) {

    .slider .slides li {
        height: 100%;

    }

    .carousel .carousel-item {
        height: 100%;
        width: 400px;
        padding: 5%;
    }

    .home_testimonials {
        margin-top: 0%;

    }
}


@media only screen and (max-width: 768px) {

    .slider .slides .caption.one {
        width: 100%;
    }

    .slider .slides .caption.two {
        width: 80%;
        left: 15%;
    }

    .carousel .carousel-item > img {
        height: 80%;
    }

    .carousel .indicators {
        background-color: ;
        margin-bottom: 1%;
    }

    .carousel {
        margin-top: 10%;
        height: 300px;
    }


    .carousel .carousel-item {
        width: 110%;
        height: 400px;
    }

    .slider .slides .caption.one {
        width: 100%;
    }

    .slider .slides .caption.two {
        width: 80%;
        left: 15%;
    }

    .ht2 {
        margin-top: 10%;
    }


    .learning-solutions {
        padding-top: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

}
