.isw-logo {
    text-align: center;
    width: 30%;
    margin-right: 0;
    margin: 0 auto;
}

.resp-container {
    position: relative;
    overflow: hidden;

}

.resp-iframe {

    top: 10;
    left: 0;
    width: 100%;
    height: 50vh;
    border: 0;
    padding: 0 15%;
}


.flow-text {
    font-size: 100%;
}

.home-testimonials2 {
    padding-bottom: 10%;

}



.isc {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em;
    padding: 0;
}

.isc-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1em;
}

.connect-with-us {
    text-align: center;
}

.isHeadButton {

    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    padding: 1%;
    background-color: #E8CF2D;
    border-color: #E8CF2D;
    margin-top: 5%;
    transition: width .5s, height .5s;

}

.isHeadButton:hover {
    width: 40%;
    height: 90%;
}

.instructional-background {
    border-bottom: 1px solid grey;
}

.normal_background {
    background-color: #C6C9FC;
    padding: 5% 15% 5% 15%;
}

.tstm {
    height: 100%;

}

.theProcess-title {
    text-align: left;
    color: navy;
    font-size: 200%;
    font-weight: bolder;
}

.process-para {
    text-align: left;
    font-size: 110%;
    font-weight: lighter;
    padding-bottom: 5%;
}

.process1,
.process2,
.process3,
.process4 {
    background-color: #234E86;
    color: white;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%, 0 0);
    width: 250%;
    height: 19vh;

}

.process1 {
    background-color: #234E86;
}

.process2 {
    background-color: #2a63af;
}

.process3 {
    background-color: #2973d4;
}

.process4 {
    background-color: #1c79f2;
}

.processTitle {
    font-size: 150%;
    margin: auto;
    padding-top: 10%;
}

.btn-primary:hover,
.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {

    background-color: #E8CF2D;
    border-color: #E8CF2D;
    box-shadow: none;
}

.accreditation-gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0em;

}

/*accreditation image*/
.container {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.acc-img {

    width: 100%;
    height: auto;
    height: 100%;
    transition: .5s ease-in-out;
}

.acc-img.im1:hover,
.acc-img.im2:hover {

    position: relative;
    transform: scale(.9);
    transition: transform .9s ease-in-out;
}

.acc-img.im1:hover::after,
.acc-img.im2:hover::after {

    position: relative;
    transform: scale(.9);
    transition: transform .9s ease;
}

.overlay {
    position: absolute;
    top: 50;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;
    opacity: 0;
    text-align: center;
    transition: .5s ease;
    background-color: black;
}

.container:hover .overlay {
    opacity: .8;
}

.img-caption {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.studies-grid-title {
    text-align: center;
    margin: 0;
    margin-top: 20%;
    padding-bottom: 0;
}

.stud-para {
    border: 1px solid grey;
    box-shadow: 2px 2px;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20%;
}

.university-logos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1em;
}

.cGallery {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    height: 50%;
    padding-top: 5%;


}

.horizontalImages {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em;
    width: 58%;
    margin-left: 40%;
    height: 20%;

}

.verticalImages {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em;
    width: 50%;

}

.cg1,
.cg3 {
    width: 100%;
}


.whyWorks-div {
    width: 100%;
    background-image: linear-gradient(105deg,
            rgb(35, 78, 134) 50%,
            rgba(255, 255, 255, 0) 50%);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgb(0, 0, 0, .2);
    height: 100%;
    background-position: top;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-gap: 2em;

}

.studies {

    color: #234E86;

}

.studies,
.works {
    padding: 5%;
    width: 100%;
    margin: auto;
}

.galleryBckgrnd {
    padding-top: 0%;
    /*background-image: linear-gradient(to right bottom, rgba(174, 170, 188, 0.8), rgba(197, 200, 253, 0.8));*/

}

.cg {
    transition: all .2s;
}

.cg:hover {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.cg:hover .cg:not(:hover) {
    transform: scale(0.95);
}


@media only screen and (max-width: 1024px) {

    .process1,
    .process2,
    .process3,
    .process4 {
        height: 10vh;

    }

    .processTitle {
        padding-top: 15%;
        font-size: 120%;
        margin: 0 auto;

    }
}

@media only screen and (max-width: 900px) {

    .process1,
    .process2,
    .process3,
    .process4 {
        height: 10vh;

    }

    .processTitle {
        padding-top: 18%;
        font-size: 100%;
        margin: 0 auto;

    }
}


@media only screen and (max-width: 760px) {

    .title {
        font-size: 140%;
    }


    .isw-map {
        width: 100%;
        padding: 5%;
    }



    .isw-logo {
        width: 40%;
        text-align: center;
        margin: 0 auto;
    }

    .isc-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
    }

    .process1,
    .process2,
    .process3,
    .process4 {
        height: 18vh;
        clip-path: polygon(50% 15%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
        width: 60% !important;
    }

    .processTitle {
        padding-top: 15%;
        font-size: 120%;
        margin: 0 auto;

    }

    .isHeadButton {

        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 4rem;
        padding: 2%;
        background-color: #E8CF2D;
        border-color: #E8CF2D;
        margin-top: 5%;

    }

    .whyWorks-div {
        width: 100%;
        background-image: linear-gradient(180deg,
                rgb(35, 78, 134) 60%,
                rgba(255, 255, 255, 0) 40%);
        grid-template-columns: 100%;
    }

    .studies,
    .works {
        margin: 0;
    }
}
