.our-reach-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;

}


.head-group {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    top: 8rem;
    left: 8rem;
    width: 75%;
    margin: auto;

}

.head-group {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(15, 11, 11, 0.52), rgba(255, 119, 48, 0.85));

}

/*.card {
    transform: skewY(-4deg);
}

.card > * {
    transform: skewY(4deg);
}

.card-action {
    transform: skewY(-4deg);
}

.card-action > * {
    transform: skewY(4deg);
}*/

.reach-title-head {
    width: 100%;
    padding: 10% 0 0 5%;

}

.reach-title {
    width: 100%;
    font-size: 200%;
    font-weight: bolder;
    padding-top: 5%;
}

.reach-title-para1 {
    font-weight: bold;
    padding: 0 0 0 20%;
}

.reach-title-para2 {
    font-weight: bold;
    padding: 0 0 0 40%;
}



/*body code starts

.reaches {
    background-color: white;
    padding: 3%;
}

.reaches-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em;

}

.reaches-wrap1 {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1em;
    padding-bottom: 0;
}


.cienfuegos,
.ceed,
.bbi {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    padding: 5%;
}


.reaches-heads {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.reaches-logo {

    width: 100%;
    padding: 5%;

}

.reaches-para {
    width: 100%;
    font-size: 70%;
    text-align: center;
    font-weight: bold;
}

.nds-para,
.wei-bottom {
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-bottom: 1%;
}*/

/*.wei,
.cienfuegos,
.ceed,
.bbi {
    border: 1px solid gray;
    padding: 5%;
    box-shadow: 1px 1px 1px 1px gray;

}*/

/*.cienfuegos {
    margin-top: 5%;
    margin-left: 15%;
    width: 100%;

}

.isw-network,
.nds {
    width: 80%;
    margin: 10% 10% 10% 10%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
    padding: 5%;

}

.lae,
.cuba,
.ean,
.jamaica,
.usw,
.wib,
.apprentice-ns {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em;
    padding: 5%;
    margin: 10%;
    margin-top: 40%;
    margin-bottom: 0;

}



.usw {
    padding-top: 0;
    margin-top: 0;
}

.reaches-wrap2 {
    margin-top: 0;
    padding-bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
}

.iswN-desc {
    padding-top: 5%;
}

.cuba-desc,
.ean-desc,
.jamaica-desc,
.usw-desc,
.apprentice-ns-desc {
    margin-top: 5%;
    padding-bottom: 5%;
    height: 100%;
}

.wrap2-sec2 {
    padding-top: 0;
}

.jamaica {
    margin-top: 0;
    padding-top: 0;
}

.reaches-wrap3 {
    padding: 0%;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
}

.ceed,
.bbi {
    margin-bottom: 5%;
    width: 80%;
    text-align: center;
    margin-right: 10%;
    padding: 10%;
}

.wib {
    width: 70%;
    margin-top: 5%;
    margin-right: 15%;
    padding-left: 5%;
    margin-bottom: 5%;

}


*/
.grid-background {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
}

.our-reach-header {
    background-image: url(../../images/community.jpg);
    background-position: center;
    background-size: cover;
    padding: 5%;
}

.our-community {
    padding: 5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1em;
}

.community {
    margin: auto !important;
}

.card {
    width: 20% !important;
}

/*.grid-background:not(first-child) {
    margin-left: 5% !important;
}
.row .col.l3.m6.s12 {
    margin-left: 5% !important;
}*/

.community:nth-child(1) {
    padding-top: 5%;
}

.col:not(:first-child) {
    margin-left: 5% !important;
}

.card-image {
    width: 40% !important;
    margin: auto;
    padding: 5%;
}

.common-para {

    flex-shrink: 3;
}

p {
    flex-shrink: 0;
}

.modal-trigger {
    color: #286492 !important;
    transition: 1s;
}

.modal-trigger:hover {
    background-color: #286492 !important;
    color: white !important;
    padding: 2%;
    border-radius: .5rem;
}

.read-more {
    height: 20vh;
    overflow-y: hidden;
}

.card-title {
    color: #286492;
    font-weight: bold !important;
    font-size: 150% !important;
}

.image-2 {
    margin-top: 5%;
    width: 70% !important;
}

.image-3 {
    width: 50% !important;
}

.image-4 {
    margin-top: 15%;
    width: 110% !important;
}

.im {
    background-image: url(../../images/our-reach/cienfuegos.png);
}

.image-5 {
    margin-top: 15%;
    width: 100% !important;
}

.image-6 {
    margin-top: 5%;
    width: 80% !important;
}

.image-6 {
    margin-top: 0;
}

.image-7 {
    width: 100% !important;
}

.image-8 {
    width: 55% !important;
}

.modal-header {
    padding: 2%;
    background-color: #286492;
    color: white;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
}





/*body code ends */
@media only screen and (max-width: 1024px) {
    .card {
        width: 49% !important;
        margin: 1% auto !important;
    }

    .row .col.l3.m6.s12 {
        margin: auto;
    }

    .col:not(:first-child) {
        margin-left: 1% !important;
    }

    .card-title {
        font-size: 140% !important;
    }
}

@media only screen and (max-width: 768px) {


    .card {
        width: 49% !important;
        margin-left: 1% !important;
    }

    .wei-logo,
    .iswN-logo,
    .lae-logo,
    .cuba-logo,
    .ean-logo,
    .jamaica-logo,
    .cienfuegos-logo,
    .nds-logo,
    .usw-logo,
    .ceed-logo,
    .wib-logo,
    .bbi-logo,
    .apprentice-ns-logo {
        align-items: center;
        width: 80%;
        padding: 2% 2% 2% 25%;

    }

    .reaches {
        margin-left: 0;
        padding-left: 0;
        margin-right: 5%;
    }

    .our-reach-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;

    }

    .reach-tree {
        text-align: center;
    }

    .reach-title,
    .reach-title-para1,
    .reach-title-para2 {

        padding: 0;
        text-align: center;
    }

    .reach-title {
        font-size: 120%;
    }

    .reaches-wrap1,
    .reaches-wrap2,
    .reaches-wrap3 {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
    }

    .wei,
    .isw-network,
    .lae,
    .cuba,
    .ean,
    .jamaica,
    .cienfuegos,
    .nds,
    .usw,
    .ceed,
    .wib,
    .bbi,
    .apprentice-ns {
        text-align: center;
        margin: 5%;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
    }

    .wei {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
    }

    .wei-bottom {
        grid-column: 1;
        grid-row: 3;
    }

    .nds-para {
        grid-column: 1;
        grid-row: 3;
    }

    .isw-network {
        margin-top: 5%;
    }

    .reaches-wrap3 {
        padding: 0;
    }

    .container {
        padding-right: 5%;
        margin-right: 5%;
    }


}

@media only screen and (max-width: 500px) {
    .card {
        width: 100% !important;
        margin: 1% auto !important;
    }
}
