.paginationBckgrnd {
    padding: 3%;
}

.pagination li a.yearLink {
    color: #e0e058;
}

.pagination li a.yearLink1 {
    color: navy;
}

.headerTimeline {
    display: inline-flex;
    margin-left: 25%;
}

.timelineLogo {
    width: 15%;
}

.timelineHeader {
    margin-top: 5%;
    color: #e0e058;
}

.history {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 1em;

}

.historyYear {
    grid-row: 1;
    padding-left: 15%;

}

.blue-text {
    color: navy !important;
}

.historyYear._1999 {
    border-left: 1px solid yellow;
}



.historyYear._2012 {
    padding-right: 5%;
    border-right: 1px solid yellow;
}

.historyYear._2017 {

    border-left: 1px solid yellow;

}

.historyYear._2018 {
    padding-right: 2%;
    border-right: 1px solid blue;
}

.historyYear._2019 {
    padding-left: 2%;
    margin-left: 5%;
    border-left: 1px solid yellow;
}

.historyYear._2020 {
    padding-right: 2%;
    border-right: 1px solid blue;
}



.image1 {
    grid-row: 2;
    width: 100%;
    grid-column: 1 / span 3;
    padding-top: 10%;


}

.image2 {
    width: 80%;
    grid-column: 4 / span 2;
    margin-left: 30%;
}

.history2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1em;
}

.image3 {
    grid-row: 2;
    width: 100%;
    grid-column: 1 / span 2;
    padding-top: 10%;
    padding-left: 5%;
    border-left: 1px solid yellow;
    /* bottom: -3px;
    transform: rotate(-45deg);*/
}

.curve {
    margin-top: -60%;
    margin-bottom: 75%;
    margin-left: 12%;
    /* padding-top: 50%; */
    grid-row: 3;
    padding-top: 150%;
    grid-column: 1;
    border-left: 1px solid yellow;
    transform: rotate(-30deg);
    z-index: -1;


}

.image4 {
    width: 110%;
    grid-column: 3 / span 2;
    margin-left: 2.5%;
    padding-left: 30%;
    border-left: 1px solid yellow;
}

.image5 {
    grid-row: 3;
    width: 50%;
    grid-column: 1 / span 2;
    padding-top: 20%;
}

.image6 {
    grid-row: 3;
    width: 50%;
    grid-column: 3 / span 2;

}

@media only screen and (max-width: 768px) {

    .curve {
        margin-top: -60%;
        margin-bottom: 75%;
        margin-left: 12%;
        /* padding-top: 50%; */
        grid-row: 3;
        padding-top: 0%;
        grid-column: 1;
        width: 50px;
        border-left: 1px solid yellow;
        bottom: 0px;
        transform: rotate(-35deg);
        z-index: -1;
    }

    .headerTimeline {
        display: inline-flex;
        margin-left: 0%;
    }

    .timelineLogo {
        width: 40%;
    }

    .history {
        padding: 5%;
        margin: 0;
        grid-template-columns: repeat(3, 1fr);

    }

    .historyYear._2007,
    .historyYear._2012 {
        grid-row: 3;
        padding-left: 15%;

    }

    .historyYear._2007 {
        grid-column: 1 / span 2;
        margin-right: 30%;
    }

    .historyYear._2012 {
        margin-left: 30%;
        grid-column: 2 / span 2;
    }

    .image1 {
        grid-row: 2;
        width: 100%;
        grid-column: 1 / span 2;
        padding-top: 10%;


    }

    .image2 {
        grid-row: 4;
        width: 100%;
        grid-column: 2 / span 2;
        margin-left: 0%;
    }

    .history2 {

        grid-template-columns: 50% 50%;

    }

    .image3 {
        grid-row: 2;
        width: 100%;
        grid-column: 1 / span 2;

    }

    .image5 {
        grid-row: 3;
        width: 50%;
        grid-column: 1 / span 2;

    }

    .historyYear._2019 {
        grid-row: 4;
        padding-left: 2%;
        margin-left: 5%;
        border-left: 1px solid yellow;
    }

    .historyYear._2020 {
        grid-row: 4;
        padding-right: 2%;
        border-right: 1px solid blue;
    }

    .image4 {
        grid-row: 5;
        width: 110%;
        grid-column: 1 / span 2;
        margin-left: 2.5%;
        padding-left: 30%;
        border-left: 1px solid yellow;
    }

    .image6 {
        padding-top: 10%;
        grid-row: 6;
        width: 50%;
        grid-column: 1 / span 2;

    }


}
