.sub-title {
    padding: 5%;
}

.process-pipeline-wrapper {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 25% 24% 24% 27%;
    grid-gap: 1em;
    position: relative;
}



.pipe1,
.pipe2,
.pipe3,
.pipe4 {
    width: 100%;
    text-align: center;
}



.project_planning_list_ul,
.drafting_list_ul,
.issuing_rfp_list_ul,
.awarding_contract_list_ul,
.project_planning_list,
.drafting_list,
.issuing_rfp_list,
.awarding_contract_list {
    padding: 2%;
    margin-left: 10%;
    color: black;
    width: 100%;
    margin-top: 1%;
    color: white;
    text-align: left;
}

.pageRedirect {
    padding: 10%;
    background-color: #314572;
    width: 80%;
}

.project_planning_list,
.drafting_list,
.issuing_rfp_list,
.awarding_contract_list {
    font-size: 90%;
    transition: .5s ease-out;
    animation-name: moveInLeft;
    animation-duration: 1s;
    border-radius: 1em;
    list-style: circle !important;

}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}



.project_planning_list_ul,
.drafting_list_ul,
.issuing_rfp_list_ul,
.awarding_contract_list_ul {
    border: none;
    display: none;
    height: 250px;
}

.arrow {
    width: 100%;
    display: grid;
    grid-template-columns: 92% 10%;
    grid-gap: 0em;

}

.fa-arrow-right {
    padding: 100% 10% 0% 10%;

}

.fa-arrow-down {
    display: none;
}

.instructors {
    grid-template-columns: 60% 40%;
}


@media only screen and (max-width: 768px) {

    .process-pipeline-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 5em;
    }

    .project_planning_list,
    .drafting_list,
    .issuing_rfp_list,
    .awarding_contract_list {

        font-size: 120%;


    }

    .arrow {
        width: 100%;
        display: grid;
        grid-template-columns: 99% 1%;
        grid-gap: 1em;
    }

    .fa-arrow-right {
        display: none;
    }

    .fa-arrow-down {
        display: block;
        margin-left: 46%;
    }

    .pageRedirect {
        margin-left: 10%;
    }
}

@media only screen and (width: 1024px) {
    .arrow {
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-gap: 0em;
    }

    .project_planning_list,
    .drafting_list,
    .issuing_rfp_list,
    .awarding_contract_list {
        font-size: 70%;
    }


}
