.wei-cover {
    background-image: url(../../images/wei-cover.png);
    background-size: cover;
    background-position: top;
    height: 80%;
    position: relative;
}

.wei-logo {
    position: absolute;
    top: 85%;
    left: 80%;
}

.flow-text {
    font-size: 120%;
}

.directors-desk {
    font-size: 240%;
    padding-top: 5%;
}

.wei-letter {
    margin: auto;
}

.pageRedirect {
    background-color: white !important;
    padding: 0%;
    border-radius: 1rem;
    width: 30%;
    margin: 5% auto;
}

.pageRedirect:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

}

.pageRedirect:hover {
    background-color: #234E86 !important;
}

.pageRedirect:hover .redirect-link {
    color: white;
}

.pageRedirect:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, .2);
}

.redirect-link,
.redirect-link:hover,
.redirect-link:visited {
    color: #234E86;
    text-decoration: underline;
}

.redirect-link:hover {
    color: white;
}

@media only screen and (max-width: 768px) {
    .pageRedirect {
        width: 60%;

    }

    .wei-letter {
        width: 70%;
    }

    .directors-desk {
        font-size: 150%;
    }
}
